h1{
    text-align: center;
    color: green;
    font-size: 50px;
}
p{
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: black;
    padding: 10px;
    margin: 10px 30px;
}
button{
    padding: 12px 28px;
    border: none;
    border-radius: 10px;
    background-color: green;
    font-size: 14px;
    color: white;
    transition: all 1s;
}
button:hover{
    background-color: white;
    border: 1px solid green;
    color: green;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-list{
    display: flex;
    list-style: none;
    gap: 20px;
}

.anchor{
    font-size: 16px;
    text-decoration: none;
    color: black;
}